<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title></title>
</head>
<body>
<h1 id="title"></h1>







<div id="GameArea">
    <table class="table">
        <tr>
            <td> <button onclick="buttonClick(0,0)">1</button> </td>
            <td> <button onclick="buttonClick(0,1)">2</button> </td>
            <td> <button onclick="buttonClick(0,2)">3</button> </td>
        </tr>
        <tr>
            <td> <button onclick="buttonClick(1,0)">4</button> </td>
            <td> <button onclick="buttonClick(1,1)">5</button> </td>
            <td> <button onclick="buttonClick(1,2)">6</button> </td>
        </tr>
        <tr>
            <td> <button onclick="buttonClick(2,0)">7</button> </td>
            <td> <button onclick="buttonClick(2,1)">8</button> </td>
            <td> <button onclick="buttonClick(2,2)">9</button> </td>
        </tr>
    </table>
</div>


<div>
    <div id="GameStatus" style="color: aqua"></div>
    <button id="newGameButton">New Game</button>
</div>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/script1.js"></script>
</body>
</html>