*{
    box-sizing: border-box;
}
body{
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
#GameArea{
    display: none;
}
.table{
    border-collapse: collapse;
}
.table td {
    padding: 0;
}

.table td button{
    width: 6rem;
    text-align: center;
    font-size: 2rem;
    line-height: 6rem;
    height: 6rem;
    padding: 0;
    display: block;

}
